* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.mainBlock {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 150px;
    width: 350px;
}