.labelMain {
    display: flex;
    align-items: center;
    user-select: none;
    cursor: pointer;
}
.checkbox {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    -webkit-appearance: none;
    -moz-animation: none;
    appearance: none;
    background-image: url("./../../../../../public/checkbox/off.svg");
    cursor: pointer;
}

.checkbox:checked {
    cursor: pointer;
    -webkit-appearance: none;
    -moz-animation: none;
    appearance: none;
    background-image: url("./../../../../../public/checkbox/on.svg");
}

.checkbox:focus {
    background-image: url("./../../../../../public/checkbox/off-focused.svg");
}

.checkbox:checked:focus {
    background-image: url("./../../../../../public/checkbox/on-focused.svg");
}

.spanClassName {

}