.mainHM3 {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 275px;
    height: 80px;
    margin: 5px;
}

.customButton {
    margin: 0 5px;
}

.counter {
    font-size: large;
    font-weight: bold;
    margin-top: 4px;
}

.error {
    outline: none;
    border: 2px solid red;
}

.errorText {
    color: red;
    order: 1;
    margin-left: 5px;
}

.disable {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.5;
}